asgiref==3.6.0
cffi==1.15.1
cryptography==39.0.0
DateTime==5.0
Django==3.2.16
django-args==1.4.0
django-cors-headers==3.13.0
django-filter==22.1
django-formtools==2.4
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
mysqlclient==2.1.1
Pillow==9.4.0
pycparser==2.21
PyJWT==2.6.0
python-args==1.0.2
pytz==2022.7.1
sqlparse==0.4.3
tzdata==2022.7
zope.interface==5.5.2
gunicorn==20.1.0
