asgiref==3.5.0
cffi==1.15.0
cryptography==37.0.2
DateTime==4.4
Django==4.0.4
django-args==1.4.0
django-cors-headers==3.11.0
django-filter==21.1
django-formtools==2.3
djangorestframework==3.13.1
djangorestframework-simplejwt==5.1.0
mysqlclient==2.1.0
Pillow==9.1.0
pycparser==2.21
PyJWT==2.4.0
python-args==1.0.2
pytz==2022.1
sqlparse==0.4.2
tzdata==2022.1
zope.interface==5.4.0
